body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
@media (min-width:999px){
    .parent{
        display: flex;
        align-items: center;
        gap: 80px;
        margin-bottom: 16px;
    }
    .img-cls{
        border-radius: 50%;
        height: 70px;
        width: 70px;
        object-fit: cover;
    }

    .cravings{
        margin-top:20px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pizza-names{
        font-size: 10px;
        color: grey;
    }
    .loc{
        font-weight: bolder;
        color: #E31837;
    }
    .location{
        display: flex;
        align-items: center;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .whatNew{
        margin-bottom: 50px;
    }
    .whatsNewimage{
        width: 315px;
        height: 166px;
        border-radius: 20px;
        overflow: hidden;
    }
    .newcards{
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        gap: 15px;
        overflow-x: auto;
        scroll-behavior: smooth;
        
    }
    .newcards::-webkit-scrollbar {
        height: 8px;
    }
    .h4whatsnew{
        margin-bottom: 16px;
    }
    .bluebox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 56px;
        margin-bottom: 16px;
        background-color: #005491;
    }
    .txtbox{
        width: 143px;
        height: 32px;
    }
    .bluebox .txtbox p{
        font-size: 12px;
        color: white;
        font-weight: 400;
    }
    .bluebox-content{
        width: 163px;
        height: 32px;
        display: flex;
        align-items: center;
    }
    .detectloc{
        background-color: #005491;
        border: 1px solid white;
        color: white;
        height: 32px;
        width: 108px;
        border-radius: 5px;
    }
    .delivery,.dine-in,.takeaway{
        height: 50px;
    }
    .btn-container{
        display: flex;
        width: 100%;
        margin-right: 10px;

    }
    .btn-container button {
        flex: 1; /* equal width for all buttons */
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
    }
    .btn-container button:active {
        background-color: #007bff;
        color: white;
    }
    .section{
        height: 10px;
        background-color: lightgray;
    }
    .bestseller{
        object-fit: cover;
        height: 40px;
        text-align: center;
        margin-bottom: 5px;
    }
    .bestsellerimg{
        width: 170px;
        height: 36px;
        object-fit: cover;
    }
    .top10{
        text-align: center;
        margin-bottom: 10px;
    }
    .top10 h2{
        color: #2E2E2E
    }
    .inurloc{
        background-color: rgb(255, 229, 180);
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .inurloc p{
        color: #2E2E2E;
    }
    .bestsellercard{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 15px;
        margin-bottom: 90px;
    }
    .bestbox{
        width: 332px;
        height: 350px;
        position: relative;
    }
    .bestimages{
        width: 332px;
        height: 350px;
        border-radius: 20px;
    }
    .contenofbestseller{
        position: absolute;
        width: 332px;
        height: 70px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media (max-width:998px){
    .parent{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
        overflow-x: auto;
    }
    .parent::-webkit-scrollbar {
        height: 8px;
    }
    .img-cls{
        border-radius: 50%;
        height: 90px;
        width: 90px;
        object-fit: cover;
    }

    .cravings{
        margin-top:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pizza-names{
        font-size: 10px;
        color: grey;
    }
    .loc{
        font-weight: bolder;
        color: #E31837;
    }
    .location{
        display: flex;
        align-items: center;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .whatNew{
        margin-bottom: 50px;
    }
    .whatsNewimage{
        width: 315px;
        height: 166px;
        border-radius: 20px;
        overflow: hidden;
    }
    .newcards{
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        gap: 15px;
        overflow-x: auto;
        scroll-behavior: smooth;
        
    }
    .newcards::-webkit-scrollbar {
        height: 8px;
    }
    .h4whatsnew{
        margin-bottom: 16px;
    }
    .bluebox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        height: 56px;
        margin-bottom: 16px;
        background-color: #005491;
    }
    .txtbox{
        width: 143px;
        height: 32px;
    }
    .bluebox .txtbox p{
        font-size: 12px;
        color: white;
        font-weight: 400;
    }
    .bluebox-content{
        width: 163px;
        height: 32px;
        display: flex;
        align-items: center;
    }
    .detectloc{
        background-color: #005491;
        border: 1px solid white;
        color: white;
        height: 32px;
        width: 108px;
        border-radius: 5px;
    }
    .delivery,.dine-in,.takeaway{
        height: 50px;
    }
    .btn-container{
        display: flex;
        width: 100%;
        margin-right: 10px;

    }
    .btn-container button {
        flex: 1; /* equal width for all buttons */
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
    }
    .btn-container button:active {
        background-color: #007bff;
        color: white;
    }
    .section{
        height: 10px;
        background-color: lightgray;
    }
    .bestseller{
        object-fit: cover;
        height: 40px;
        text-align: center;
    }
    .bestsellerimg{
        width: 170px;
        height: 36px;
        object-fit: cover;
    }
    .top10{
        text-align: center;
        margin-bottom: 10px;
    }
    .top10 h2{
        color: #2E2E2E
    }
    .inurloc{
        background-color: rgb(255, 229, 180);
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .inurloc p{
        color: #2E2E2E;
    }
    .bestsellercard{
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 15px;
        margin-bottom: 90px;
    }
    .bestbox{
        width: 300px;
        height: 320px;
        position: relative;
    }
    .bestimages{
        width: 300px;
        height: 320px;
        border-radius: 20px;
    }
    .contenofbestseller{
        position: absolute;
        width: 300px;
        height: 70px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

