@media (min-width:999px){
    .container {
        position: relative;
        height: 1px;
        background-color: black;
        margin-top: 50px;
        width: 100%;
    }

    .h {
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        padding: 0 10px;
    }

    .vegy {
        color: #666666;
        font-size: 28px;
        font-weight: bold;
    }


    .menucontainer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        overflow-x: auto;
        gap: 20px;
        padding: 80px 20px 40px;
    }

    .pizza-card {
        background-color: white;
        width: 400px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0,0,1.0);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .pizza-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .pizza-content {
        padding: 15px;
    }

    .pizza-content h3 {
        margin: 0;
        font-size: 20px;
        color: #072e17;
    }

    .pizza-content p {
        margin: 10px 0;
        font-size: 14px;
        color: #b68383;
    }

    .pizzafooter {
        display: flex;
        justify-content: space-around;
        padding: 0 15px 15px;
    }

    .price {
    font-weight: bold;
    color:brown;
    }

    .addbutton {
        background-color: #c53c55;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .addbutton:hover {
        background-color: #618cbe;
    }

    .mental{
        object-fit: cover;
    }
}

@media (max-width:998px){
    .container {
        position: relative;
        height: 1px;
        background-color: black;
        margin-top: 50px;
        width: 100%;
    }

    .h {
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: -23px;
        padding: 0 10px;
    }

    .vegy {
        color: #666666;
        font-size: 15px;
        font-weight: bold;
    }

    .menucontainer {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        overflow-x: auto;
        gap: 20px;
        padding: 80px 20px 40px;
    }

    .pizza-card {
        background-color: white;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0,0,1.0);
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .pizza-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .pizza-content {
        padding: 15px;
    }

    .pizza-content h3 {
        margin: 0;
        font-size: 20px;
        color: #072e17;
    }

    .pizza-content p {
        margin: 10px 0;
        font-size: 14px;
        color: #b68383;
    }

    .pizzafooter {
        display: flex;
        justify-content: space-around;
        padding: 0 15px 15px;
    }

    .price {
    font-weight: bold;
    color:brown;
    }

    .addbutton {
        background-color: #c53c55;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
    }

    .addbutton:hover {
        background-color: #618cbe;
    }

    .mental{
        object-fit: cover;
    }
}

